@model Blog.DAL.Classes.Project
@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="container">
    <div class="row" style="margin-top:10px;">
        @using (Html.BeginForm("UpdateProject", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.LabelFor(x => x.Subject)
            @Html.TextBoxFor(x => x.Subject, new { @class = "form-control",required="required" })<br />
            @Html.LabelFor(x => x.Content)
            <textarea id="Content" name="Content" required>@Model.Content</textarea><br />
            @Html.LabelFor(x => x.Image)
            <input type="file" name="file" id="file" /><br />
            <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Image))" height="70" /><br /><br />
            @Html.Label("Tags")
            <select class="select2 form-control m-t-15" multiple="multiple" style="height: 36px;width: 100%; color:black" name="tags" id="tags" required>
                @foreach (var item in ViewBag.tags)
                {
                    if (Model.TagDetails.Any(x => x.TagID == item.ID))
                    {
                        <option value="@item.ID" selected>@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                }
            </select>
            @Html.HiddenFor(x=>x.CreatedDate)
            <br />
            <br />
            <button class="btn btn-primary" style="margin-bottom:30px;">Update Project</button>
        }

    </div>
</div>
