@{
    ViewBag.CommentCount = new Blog.BLL.Classes.CommentController().GetAllInActiveComments().Count;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>www.sercancalis.com | @DateTime.Now.Year</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link href="~/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/AdminLTE.min.css">
    <link href="~/Content/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/select2/dist/css/select2.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index","Admin")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>P</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin</b>Panel</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="@Url.Action("InActiveComments","Admin")">
                                <i class="fa fa-bell fa-2x"></i>
                                <span class="label label-warning ">@ViewBag.CommentCount</span>
                            </a>
                        </li>

                        <li class="dropdown notifications-menu">
                            <a href="@Url.Action("Logout","Security")"><i class="fa fa-sign-out fa-2x" style="padding-left:20px; padding-right:20px;"></i></a>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Images/logo.jpeg" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info" style="font-size:20px; margin-top:10px; margin-left:10px;">
                        <p>Sercan ÇALIŞ</p>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">

                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MENUS</li>
                    <li class="item">
                        <a href="@Url.Action("Index","Admin")">
                            <i class="fa fa-home"></i> <span>Anasayfa</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="@Url.Action("Projects","Admin")">
                            <i class="fa fa-product-hunt"></i> <span>Projects</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="@Url.Action("Tags","Admin")">
                            <i class="fa fa-tags"></i> <span>Tags</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="@Url.Action("Comments","Admin")">
                            <i class="fa fa-comments"></i> <span>Comments</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="@Url.Action("Info","Admin")">
                            <i class="fa fa-info"></i> <span>Info</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> Mersion Yok
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year | Developed By Sercan ÇALIŞ</strong>
        </footer>
    </div>

    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Content/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button);</script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Content/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/demo.js"></script>
    @RenderSection("SelectedList", false)
    <script src="~/Content/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Content/select2/dist/js/select2.min.js"></script>
    <script>
        $(".select2").select2();
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
    <script src="~/Content/jquery.dataTables.min.js"></script>
    <script src="~/Content/bs-dataTables.bootstrap.min.js"></script>
    <script>
        CKEDITOR.timestamp = "v=2";
        var editor = CKEDITOR.replace('Content');
        CKFinder.setupCKEditor(editor);

        CKEDITOR.timestamp = "v=2";
        var editor2 = CKEDITOR.replace('About');
        CKFinder.setupCKEditor(editor2);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</body>
</html>
